@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

.tree {
  /* use the remote image first, fall back to the gradient while it loads */
  background-image: url("https://images.unsplash.com/photo-1763615445655-5e1fc4c549d4?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z3JhZGllbnQlMjBwYXR0ZXJufGVufDB8fDB8fHww");

  background-size: cover, cover !important;
  background-position:
    center center,
    center center !important;
  background-repeat: no-repeat, no-repeat !important;
  background-attachment: fixed, fixed !important;
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
